# Data
data/raw/*.txt
data/processed/*.txt
models/*.pt
models/*.pth
*.bin

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Temp
temp_*.txt
*.log
models/jp_tokenizer.vocab
models/en_tokenizer.model
models/jp_tokenizer.model
models/en_tokenizer.vocab
